.item{
		background: rgba(127, 221, 217, 0.2);
		color: #FFF;
		padding: 5px;
		border-radius: 10px;
		font-family: Arial;
	}
	
.item:hover{
	box-shadow: 5px 5px 5px rgba(20, 150, 230, 0.5);
}
.item img{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin: 5px;
}